@{
    ViewBag.Title = "Nuestro Contacto";
}
<div style="text-align:center">
</div>

<div class="container">
    <div class="col-md-6" style="padding:0; background-image:url(../../Imagenes/gatoContact.jpg); height:500px"></div>
    <div class="col-md-6" style=" background-color: #FF6961; text-align: center; height: 500px">
        <h1>@ViewBag.Title</h1>
        <h2>Buenos Aires - Lugano</h2> <br />
        <h2>Tel: 1160314102 </h2> <br />
        <h2>Email: prueba@gmail.com </h2> <br />
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26249.613277866156!2d-58.493955779195126!3d-34.6748595545588!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc9495154d385%3A0x86babb4a76e51dd2!2sVilla%20Lugano%2C%20CABA!5e0!3m2!1ses-419!2sar!4v1622813135404!5m2!1ses-419!2sar" width="500" height="315" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>