@{
    ViewBag.Title = "Nuestro contacto";
}
<div style="text-align:center">
    <h2>@ViewBag.Title.</h2>
</div>

<div style="text-align:center">
    <address>
        Buenos Aires - Lugano<br />
        Telefono: 98052-6399<br />
        Tel: 1160314102
    </address>
</div>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>