@{
    ViewBag.Title = "Refugio de silvia";
}

<div style="background-image:url(../../Imagenes/Portada.jpeg); background-repeat:no-repeat; background-size:cover; width:100%; height:350px">
    <h1 style="color:#ffffff; margin-bottom:100px; text-align:center">@ViewBag.Title</h1>
    <div class="col-md-6">
        <p class="lead" style="color:#ffffff">Hoy en día el refugio se encarga del rescate de gatos, tenemos un número constante de 70 gatos (adultos y bebes) entre el refugio y tránsitos.</p>
        <p><a href="~/Home/ListCat" class="btn btn-primary btn-lg">Nuestros gatos &raquo;</a></p>
    </div>
</div>
<div class="col-md-6">
    <div style="text-align:center">
        <h2>Nuestros Gatos</h2>
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
</div>
<div class="col-md-6">
    <div style="text-align:center">
        <h2>Nuestros asdsadsadsa</h2>
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
</div>
<div class="col-md-6">

    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="height:30%; width:100%">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/Imagenes/portada.jpg" alt="Chania" style="image-resolution:from-image"/>
            </div>

            <div class="item">
                <img src="~/Imagenes/Foto1.jpg" alt="Chania" />
            </div>

            <div class="item">
                <img src="~/Imagenes/Foto2.jpg" alt="Flower" />
            </div>

            <div class="item">
                <img src="~/Imagenes/PORTADA_Articulo.jpg" alt="Flower" />
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
        </a>
    </div>
</div>
<div class="col-md-6" style="margin-bottom:100px">

    <div id="myCarouselSecond" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/Imagenes/portada.jpg" alt="Chania" />
            </div>

            <div class="item">
                <img src="~/Imagenes/portada.jpg" alt="Chania" />
            </div>

            <div class="item">
                <img src="~/Imagenes/PORTADA_Articulo.jpg" alt="Flower" />
            </div>

            <div class="item">
                <img src="~/Imagenes/PORTADA_Articulo.jpg" alt="Flower" />
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarouselSecond" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="right carousel-control" href="#myCarouselSecond" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
        </a>
    </div>
</div>
