
@{
    ViewBag.Title = "Administrador";
}

<div class="col-md-12">
    <div class="row">
        <form id="frm">
            <div class="col-lg-12">
                Usuario
                <input type="text" name="user" style="margin-bottom:20px" class="form-control" />
            </div>
            <div class="col-lg-12">
                Contraseña
                <input type="password" name="pass" style="margin-bottom:20px" class="form-control" placeholder="por ahora poner admin" />
            </div>
            <div class="col-lg-12" style="text-align:end">
                <input type="submit" class="btn btn-success" value="Agregar" style="margin-bottom:20px" />
            </div>
        </form>

    </div>
</div>


@section scripts
{
    <script>
    $(document).ready(function () {
        $( "#frm" ).submit(function (e) {
            e.preventDefault();
            url = "@Url.Content("~/Agregar/SessionAdd")";
            parametros = $( this ).serialize();

            $.post(url, parametros, function (data) {
                if (data == "Usuario Agregado") {
                    document.location.href = "@Url.Content("~/Agregar/Index")";
                }
                else {
                    alert(data)
                }
            })
        })
    })
    </script>
}

